.Profile {
  background-color: #141414;
  padding: 8rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Profile__photo {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 3rem;
}

.Profile__photo img {
  width: 100%;
}

.Profile h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.Profile__paragraph {
  color: #fff;
  line-height: 1.8;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.Profile__projects-num {
  width: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Profile__projects-num span h3 {
  font-size: 3rem;
  font-weight: 400;
}

.Profile__projects-num span p {
  font-weight: 600;
}

@media only screen and (max-width: 992px) {
  .Profile__projects-num {
    width: 75%;
  }
}

@media only screen and (max-width: 768px) {
  .Profile__projects-num {
    width: 85%;
  }

  .Profile h2,
  .Profile__paragraph {
    margin: 0 2rem 2rem 2rem;
  }
}
