.Projects {
  background-color: #141414;
  text-align: center;
  padding-top: 5rem;
}

.Projects h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 5rem;
}

.Projects__items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.Projects__items div {
  overflow: hidden;
  cursor: pointer;
}

.Projects__items div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
  transition: all 0.4s ease;
}

.Projects__items div img:hover {
  transform: scale(1.1);
  filter: none;
}
