.SocialMedia {
  background-color: #141414;
  padding: 8rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SocialMedia h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 5rem;
}

.SocialMedia__icons {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SocialMedia__icons span {
  width: 7rem;
  height: 7rem;
  border: 3px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.SocialMedia__icons span:hover {
  transform: scale(1.2);
}

.SocialMedia__icon-1:hover {
  background-color: #4267b2;
  border-color: #4267b2;
}

.SocialMedia__icon-2:hover {
  background-color: #971a8d;
  border-color: #971a8d;
}

.SocialMedia__icon-3:hover {
  background-color: #00acee;
  border-color: #00acee;
}

.SocialMedia__icons span i {
  color: #fff;
}

@media only screen and (max-width: 992px) {
  .SocialMedia h2 {
    margin: 0 2rem 4rem 2rem;
  }

  .SocialMedia__icons {
    width: 65%;
  }
}

@media only screen and (max-width: 768px) {
  .SocialMedia__icons {
    width: 85%;
  }
}
